$primary: #dbdde0;
$dark: black;
$light: white;
$details: purple;
$shadow:  rgba(92,92,92,0.5);
$shadow_second: rgba(255,255,255,0.5);
$grey: #666666;
$background_shadow: rgba(79, 80, 81, 0.4);
$dark_grey: #4f4f4f;
