html {
  height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: #70bg32;
background-repeat:no-repeat;
background: -webkit-linear-gradient( to left top, #c9cbcb, #cbd0d0, #ced4d4, #d0d9d9, #d3dedd);
background: -moz-linear-gradient( to left top, #c9cbcb, #cbd0d0, #ced4d4, #d0d9d9, #d3dedd);
background: -ms-linear-gradient( to left top, #c9cbcb, #cbd0d0, #ced4d4, #d0d9d9, #d3dedd);
background: -o-linear-gradient( to left top, #c9cbcb, #cbd0d0, #ced4d4, #d0d9d9, #d3dedd);
background: linear-gradient( to left top, #c9cbcb, #cbd0d0, #ced4d4, #d0d9d9, #d3dedd);
}
body {
  padding: 40px;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 10px;
  width: 300px;
  height: 400px;
  display: inline-block;
  /*border: 1px solid #ccc;*/
  background: #f4f5f7;
  -webkit-box-shadow: 6px 6px 9px 1px rgba(92,92,92,0.5);
  -moz-box-shadow: 6px 6px 9px 1px rgba(92,92,92,0.5);
  box-shadow: 6px 6px 9px 1px rgba(92,92,92,0.5);
}

.card .phone {
  margin-top: -59px;
  width: 400px;
  left: 4px;
  position: absolute;
  clip: rect(0px, 330px, 260px, 10px)
}

.card .title {
  display: flex;
  justify-content: center;
  padding: 46px 0 0px;
}

.card .title > div {
  padding: 10px 5px;
  max-width: 200px;
  border-bottom: 2px solid rgba(114, 115, 117, 0.6);

}

.card h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

.card div {
  margin: 0;
  padding: 0;
}

.card .holder {
  width: 400px;
  height: 200px;
  position: relative;
  background: transparent;
  right: 50px;
  top: 97px;
}

.card .crop {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.card .shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  background: transparent;
  transition: background 0.5s;
  height: 100%;
  position: relative;
  top: -502px;
}

.card .shadow:hover {
  opacity: 1;
  cursor: pointer;
  background: rgba(79, 80, 81, 0.4);

}

.card .shadow:hover > .color{
  opacity: 1;

  border: 2px solid #4f4f4f;
}

.card .shadow:hover > .specifications {
  color: #4f4f4f;
}

.card .shadow:hover > .brand {
  opacity: 1;
}

.card .color {
  width: 15px;
  margin-top:30px;
  margin-bottom: 65px;
  height: 15px;
  opacity: 0;
  border-radius: 50%;
  background: black;
  border: 2px solid transparent;
  transition: opacity 0.5s, border 0.5s;
}

.card .specifications {
    font-family: 'Muli', sans-serif;
    color: transparent;
    transition: color 0.5s;

}
.card .brand {
  opacity: 0;
  margin-top: 200px;
  transition: opacity 0.5s;
}

.card .brand > img {
  height: 25px;

}
